@mixin flexRowMedium() {
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

@mixin boxShadow($blurRadius: 13px, $opacity: 20%) {
    box-shadow: 0px 3px $blurRadius 0px rgb(0 0 0 / #{$opacity});
}

@mixin circle($circle-size, $color: blue, $left: 0, $top: 0) {
    &::after {
        content: "";
        position: absolute;
        width: $circle-size;
        height: $circle-size;
        background-color: $color;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: $top;
        left: $left;
    }
}

@mixin responsiveImage($imagepath) {
    $bigpath: "./../../assets/pictures/restaurants/";
    $smallpath: #{$bigpath} + "small/";
    $normalpath: #{$bigpath} + "normal/";

    @media screen and (min-width: 768px) {
        content: url(#{$normalpath} + #{$imagepath}) !important;
    }
    
    @media screen and (min-width: 1200px) {
        content: url(#{$smallpath} + #{$imagepath}) !important;
    }
}

@mixin buttonGradient() {
    padding: 1rem;
    background: linear-gradient(170deg, $secondere, $primere);
    border-radius: 2rem;
    border: unset;
    color: $c-white;
    padding: 1rem 1.25rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
    
    &:hover {
        filter: brightness(1.1);
        @include boxShadow($opacity: 30%);
    }
}

@mixin heartHover() {
    transition: background 1s ease-in-out;
    
    &:hover {
        background: linear-gradient(170deg, #FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        animation: heart-in 1s forwards;
    }

    @keyframes heart-in {
        0%   {
            transform: scale(0.9);
        }
        50%  {
            transform: scale(1.4);
        }
        100% {
            transform: scale(1);
        }
    }
}