@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$primere: #9356DC;
$secondere: #FF79DA;
$tertiere: #99E2D0;

$c-light-pink: #f5edff;
$c-white: #ffffff;
$c-heavy-grey: #353535;
$c-grey: #eaeaea;
$c-light-grey: #f6f6f6;
$c-black: #000000;

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;